@import url('https://fonts.googleapis.com/css2?family=Nunito');

body {
  background-color: $dark;
  color: white;
  font-family: Nunito;
}

a {
  text-decoration: none;
}

h1 {
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: $primary;
}

h2 {
  line-height: 0rem;
  font-size: 1.8rem;
}

.q-menu {
  background-color: $less-dark;
}

.input {
  padding: 0 20px;
  background-color: $less-dark;
  border-radius: 6px;
  transition: linear 0.2s;

  &:hover {
    background-color: #24243b;
  }

  input {
    width: 180px;
    color: white;
  }
}

.header {
  background-color: $dark;
  padding: 16px;
  border-bottom: solid 2px $primary;
  transition: all linear 0.2s;

  .logo {
    transition: all linear 0.2s;
  }

  &-short {
    padding: 8px 16px;

    .logo {
      margin-left: 5px;
    }
  }

  .light {
    padding-left: 8px;
    font-weight: 500;
    font-size: 1.8rem;
  }
}
